%footer.branding
  %p
    Also visit:
    %a(href="http://www.imobilon.com.br/imobiliaria-londrina") Imobiliária em Londrina
    |
    %a(href="http://www.towercrm.com.br") Sistema CRM + Site para imobiliárias
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://effectif.com/nesta") Ruby CMS
    Based on
    = succeed "." do
      %a(href="http://effectif.com") Graham Ashton
      Design
