Date: 28 June 2013
Categories: blog, talks
Summary: Poder trabalhar de casa, ou de qualquer lugar, pode melhorar muito a qualidade de vida e a produtividade de quem trabalha diariamente com desenvolvimento de software. Mas será que isto se aplica a todas os perfis de desenvolvedores?

%h1 Trabalho Remoto: Como é desenvolver software longe da empresa

:markdown
  Tive o prazer de ministrar a palestra sobre trabalho remoto no 2º Café com Dev de Londrina, evento mensal que reune profissionais de tecnologia da cidade para apresentar e discutir assuntos relevantes. Os encontros acontecem [Junt.us Espaço Colaborativo][2] e tem apoio da [HE:Labs][3]. Se você ainda não participa, está perdendo uma ótima oportunidade.
  
  Na palestra contei um pouco da minha experiência de 5 anos trabalhando como desenvolvedor para empresas do exterior, falando sobre os desafios, as vantagens e desvantagens de poder trabalhar de onde quiser, e ainda assim entregar software de qualidade. Apresentarei dicas e ferramentas para a integração de equipes distribuídas, mostrando o processo que usamos na [Inaka][5] (empresa em que atuo) para permitir flexibilidade de horário e local. Finalizando, compartilhei informações para quem tem interesse em atuar dessa forma no mercado.
  
  Fiquei muito feliz com a receptividade e a resposta de quem acompanhou, tanto dos presentes quanto dos que assistiram online. Agradeço a todos pela oportunidade :).
  
  ![Palestra sobre trabalho remoto - Café com Dev Londrina ][4]
  
  ## Assista ao vídeo
  
  A palestra foi transmitida ao vivo pelo site Eventials, e continua disponível na página do [Café com Dev de Londrina][1]. Depois de assistir, não esqueça de deixar o seu comentário.
  
  ## Slides
  
  [1]: https://www.eventials.com/pt-br/cafecomdevlondrina/2o-cafe-com-dev-londrina-trabalho-remoto-como-e-desenvolver-software-longe-da-empresa/ "Assista a palestra sobre Trabalho Remoto no Eventials"
  [2]: http://just.us "Junt.us espaço colaborativo"
  [3]: http://helabs.com.br/ "HE:Labs"
  [4]: /images/palestra_trabalho_remoto.jpg
  [5]: http://inaka.net/ "Inaka"

:plain
  <script async class="speakerdeck-embed" data-id="94579910c47d01307ef05eff516607c5" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js"></script>